html {
    min-height: 100%;
    background-image: linear-gradient(rgb(165, 199, 204), rgb(230, 227, 215))
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: black;
    font-family:  'american typewriter', palatino, papyrus;
    font-size: 70px;
    font-weight: lighter;
}

#gridContainer {
    display: grid;
    border: black solid 2px;
    width: 500px;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: seashell;
}

.gridItem {
    border: 1px solid rgba(0, 0, 0, 0.135);
}

.slideContainer {
    display: flex;
    width: 500px;
    justify-content: center;
    align-content: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    height: 10px;
    background: seashell;
    outline:none;
    opacity: 0.8;
    border: 1px solid black;
    border-radius: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: black;
    cursor:grabbing;
    border-radius: 25px;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background:black;
    cursor:grabbing;
    border-radius: 25px;
}

#size {
    font-family:  'american typewriter', palatino, papyrus;
    font-size: 15px;
}

#color-selection {
    display: flex;
    width: 500px;
    justify-content: space-around;
}

label {
    font-family: 'american typewriter', palatino, papyrus;
    font-size: 20px;
    margin-right: 5px;
}

#resetbtn {
    background-color: seashell;
    font-size: 20px;
    font-family: 'american typewriter', palatino, papyrus;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px black solid;
    margin-top: 15px;
}

#resetbtn:hover {
    border: 3px rgb(2, 111, 151) solid;
}

#blackbtn {
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'american typewriter', palatino, papyrus;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px black solid;
}

#blackbtn:hover {
    border: 3px rgb(2, 111, 151) solid;
}

#rainbowbtn {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.25) 0%,
        rgba(255, 154, 0, 0.25) 10%,
        rgba(208, 222, 33, 0.25) 20%,
        rgba(79, 220, 74, 0.25) 30%,
        rgba(63, 218, 216, 0.25) 40%,
        rgba(47, 201, 226, 0.5) 50%,
        rgba(28, 127, 238, 0.25) 60%,
        rgba(95, 21, 242, 0.25) 70%,
        rgba(186, 12, 248, 0.25) 80%,
        rgba(251, 7, 217, 0.25) 90%,
        rgba(255, 0, 0, 0.25) 100%
    );
    font-size: 20px;
    font-family: 'american typewriter', palatino, papyrus;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px black solid;
}

#rainbowbtn:hover {
    border: 3px rgb(2, 111, 151) solid; 
}

#color-selector {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    padding: 0;
    border: none;
}

#color-selector-container {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#color-selector-container:hover {
    border: 3px rgb(2, 111, 151) solid; 
}

#drawingStatus {
    margin: 25px;
    color:black;
    font-size: 15px;
    font-family: 'american typewriter', palatino, papyrus;
}