#container {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    border: black solid 2px;
    width: 640px;
    height: auto;
}

.gridItem {
    border: 1px solid blue;
    height: 40px;
    width: 40px;
}