body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gridContainer {
    display: grid;
   /* grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr); */
    border: black solid 2px;
    width: 500px;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gridItem {
    border: 1px solid black;
}

.hover {
    border: 1px solid black;
    background-color: blue;
}

.slideContainer {
 width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    height: 20px;
    background: rgb(137, 205, 178);
    outline:none;
    opacity: 0.8;
    border-radius: 25px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: black;
    cursor:grabbing;
    border-radius: 25px;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background:black;
    cursor:grabbing;
    border-radius: 25px;
}